<%= render @membership %>

<div>
  <%= link_to "Back to memberships", memberships_path %>
  <%= button_to('Destroy', @membership,  method: :delete,
                                form: { data: { turbo_confirm: "Are you sure ?" } },
                                class: "btn btn-danger") unless current_user.nil? %>
</div>
