<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li>
    <%= rating.beer.name.concat(' ').concat(rating.score.to_s) %>
    <%= button_to 'delete', rating_path(rating.id), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
   </li>
 <% end %>
</ul>

<div>
  <%= link_to "Add new rating", new_rating_path %>
</div>
