<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %></p>
<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating.to_s %>
      <%= link_to rating.user.username, rating.user %>
    </li>
  <% end %>
</ul>

<div>
  <% if current_user %>
    <%= link_to "Add new rating", new_rating_path %>
  <% end %>
</div>
